<main style="margin: auto; text-align: center; width: max-content;">
    <h2>Atividades</h2>
    
    <p>{{{ atividades.atividade }}}</p>

    <hr/>

    <div>
        <div>
            <span>Tipo: {{{ atividades.tipo }}}</span> 
        </div>
        <span>Participantes: {{{ atividades.participantes }}}</span> 
        |
        <span>Acessibilidade: {{{ atividades.acessibilidade }}}</span>
    </div>
</main>