<main style="margin: auto; text-align: center; width: max-content;">
    <h2>Piadas</h2>

    <p>{{{ piadas.piada }}}</p>

    <hr/>

    <div>
        <span>Data de criação: {{{ piadas.data_criacao }}}</span>
        |
        <span>Data de atualização: {{{ piadas.data_atualizacao }}}</span>
    </div>
</main>